/*
Talents Page
*/

.talent {
	.content {
		padding: 40px;

		@include mQ(600px){
			padding: 30px;
		}

		> div {
			background-color: $white;
			border-radius: 5px;
			padding: 40px;

			@include mQ(600px){
				padding: 20px;
			}

			.title {
				font-weight: 600;
				color: $blue;
			}

			.row {
				margin: 0;

				.col {
					padding: 10px 0;
					padding-right: 10px;

					@include mQ(600px){
						padding-right: 20px;
					}

					.addTrigger {
						color: $blue;
						font-size: 18px;
						display: none;
						opacity: 0;
						cursor: pointer;
						transition: all .5;

						&.show {
							display: block;
							opacity: 1;
						}
					}

					&.skill {
						display: flex;
						align-items: center;
						justify-content: space-between;
					}

					p {
						cursor: pointer;

						span {
							color: $black;
							padding-left: 25px;
						}

						[type="checkbox"].filled-in:checked+span:after {
							border: 2px solid $blue;
							background-color: $blue;
							border-radius: 3px;
						}

						[type="checkbox"].filled-in:not(:checked)+span:after {
							border: 2px solid $blue;
							border-radius: 3px;
						}
					}

					.add {
						display: none;
						align-items: center;
						justify-content: flex-start;
						padding: 20px 0;
						transition: all .5s;
						opacity: 0;

						&.show {
							display: flex;
							opacity: 1;
						}

						button {
							background-color: $blue;
							color: $white;
							border-radius: 6px;
							height: 35px;
							line-height: 35px;
						}

						input {
							height: 35px;
							width: 200px;
							border: none !important;
							outline: none !important;
							background-color: $bg;
							border-radius: 6px;
							padding: {
								left: 5px;
								right: 5px;
							}
							margin-right: 10px;
						}
					}
				}
			}

			.send {
				background-color: $blue;
				color: $white;
				border-radius: 6px;
				margin-top: 100px;

				@include mQ(600px){
					margin-top: 50px;
				}
			}
		}
	}
}
