html, body {
  width: 100%;
  height: 100%;
  color: #2B2B2B;
  background-color: #F1F1F1;
}
html *, body * {
  font-family: Raleway, sans-serif;
}
html *.number, body *.number {
  font-family: 'Open Sans', Raleway, sans-serif !important;
}
html *::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 15px;
}
html *::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: rgba(43, 43, 43, 0.3);
}
html *::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #2B2B2B;
}
html > div, body > div {
  width: 100%;
  height: 100%;
}
html > div > div, body > div > div {
  position: relative;
  min-height: 100%;
  height: auto;
  width: 100%;
}
html > div > div:not(.auth), body > div > div:not(.auth) {
  margin-left: 45px !important;
  width: calc(100% - 45px);
}

.sidemenu {
  padding: 20px 0;
  width: 45px;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: auto;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: all .5s;
}
.sidemenu .list-item {
  padding: 15px;
  width: 300px;
}
.sidemenu .list-item a {
  color: #2B2B2B;
}
.sidemenu .list-item.active {
  position: relative;
}
.sidemenu .list-item.active:after {
  content: '';
  top: calc(50% - 5px);
  left: -5px;
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #0C80EB;
}
.sidemenu .list-item.active * {
  color: #0C80EB;
}
.sidemenu .list-item .icon {
  margin-right: 15px;
}
.sidemenu .list-item .icon.open-menu {
  cursor: pointer;
}
.sidemenu .list-item .text {
  opacity: 0;
  transition: all 1s;
  font-weight: 500;
  letter-spacing: 2px;
}
.sidemenu .list-item .text.text-title {
  font-size: 17px;
  font-weight: 600;
}
.sidemenu ul.menu {
  margin-top: 40px;
}
.sidemenu.opened, .sidemenu:hover {
  width: 300px;
  overflow: visible;
}
.sidemenu.opened .text, .sidemenu:hover .text {
  opacity: 1;
}

nav .nav-wrapper {
  padding: 0 30px;
}
nav .nav-wrapper ul li a.drop {
  display: flex;
  align-items: center;
}

.login {
  background-color: #E7EEFE;
  padding: 30px;
  padding-bottom: 50px;
}
.login .valign {
  width: fit-content;
  min-width: 500px;
  margin: auto;
}
.login .valign .head {
  background-color: #0C80EB;
  padding: 30px;
}
.login .valign .head h4 {
  margin: 0;
  text-align: center;
  color: #fff;
}
.login .valign .body {
  background-color: #FFFFFF;
  padding: 10px 40px;
}
.login .valign .body form h6 {
  font-weight: 600;
  color: #0C80EB;
  margin-bottom: 40px;
  margin-top: 20px;
}
.login .valign .body form .input-field label {
  font-size: 13px;
}
.login .valign .body form .input-field label.active {
  color: #0C80EB;
}
.login .valign .body form .input-field input:focus {
  border-bottom: 1px solid #0C80EB;
  box-shadow: 0 1px 0 0 #0C80EB;
}
.login .valign .body form .input-field .error {
  font-size: 13px;
}
.login .valign .body form .input-field .forgot a {
  color: #0C80EB;
  font-size: 13px;
}
.login .valign .body form .input-field button {
  border-radius: 5px;
  background-color: #0C80EB;
  font-weight: 600;
  text-transform: capitalize;
  width: 100px;
  height: 27px;
  line-height: 26px;
}
.login .valign .body .signup {
  font-size: 13px;
}
.login .valign .body .signup a {
  color: #0C80EB;
  font-weight: 600;
}
.login .valign .body ul.links {
  margin-top: 40px;
}
.login .valign .body ul.links li {
  display: inline-block;
  margin-right: 20px;
}
.login .valign .body ul.links li a {
  color: #0C80EB;
  font-size: 13px;
  font-weight: 500;
}
.login .copyright {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  position: absolute;
}

.dashboard .content {
  padding: 40px;
}
@media screen and (max-width: 600px) {
  .dashboard .content {
    padding: 30px;
  }
}
.dashboard .content .col {
  padding: 0 20px;
}
.dashboard .content .col .summary {
  margin: 0;
}
.dashboard .content .col .summary .col {
  padding: 0;
  padding: 0 10px;
}
.dashboard .content .col .summary .col .card {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.dashboard .content .col .summary .col .card .icon {
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}
.dashboard .content .col .summary .col .card .icon img {
  width: 35px;
}
.dashboard .content .col .summary .col .card .text h4 {
  margin: 0;
}
.dashboard .content .col .summary .col .card .text h6 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 19px;
}
.dashboard .content .col .summary .col:first-child {
  padding-left: 0;
}
.dashboard .content .col .summary .col:first-child .icon {
  background-color: #E7EEFE;
}
.dashboard .content .col .summary .col:nth-child(2) .icon {
  background-color: #F2E67A;
}
.dashboard .content .col .summary .col:nth-child(3) .icon {
  background-color: #ADE5AF;
}
.dashboard .content .col .summary .col:last-child {
  padding-right: 0;
}
.dashboard .content .col .summary .col:last-child .icon {
  background-color: #F8A9B9;
}
.dashboard .content .col .curr-projects {
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
