.loader {
	@include fixed-pos(0, 0, 0, 0, 100000000000);
	background-color: $white;
	display: none;

	&.active {
		display: flex;
	}

	.valign {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.spinner-blue-only {
			border-color: $blue;
		}
	}
}
